.app {
  width: 100%;
  height: 100%;
overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.5rem 0.25fr;
  grid-template-areas:
    "navigation"
    "write";
}

@media screen and (max-width: 768px) {
  .note {
    width: 70%;
  }
  .noteform {
    width: 70%;
  }
  nav {
    justify-content: space-between;
  }
  nav p {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .search {
    display: none;
  }
  .note {
    width: 90%;
  }
  .noteform {
    width: 90%;
  }
}
